/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2015, 3:46:43 PM
    Author     : Michael
*/
*{
    padding:0px;
    margin:0px;
}
a:hover{
    text-decoration: none;
}
.logo {
    margin: 10px;
}
.logo, .menu{
    text-align: center;
}
img{
    max-width: 100%
}
li{
    list-style: none;
}
.wrap{
    padding: 100px;
}
body {
   background-image: url('../img/background.png');
}
/*-----------Menu--------------*/
.menu ul {
    background: #C4903D;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 15px 10px;
}
.menu ul li a{ 
   text-transform: uppercase;
   color: #fff;
   padding: 17px 15px;
}
.menu ul li a:hover{
    transition: background 0.2s ease;
    color:#C4903D;
    background: #fff;
}
li.menu-room:hover .dropdown-menu{
    display: block;
    top: inherit;
    left: inherit;
    height: auto;
}
.dropdown-menu{
    margin: 10px 0 0;
    border-radius: 0px;
}
.dropdown-menu ul{
    border: none;
}
.dropdown-menu ul li{
    float:left;
    width: 150px;
}
.dropdown-menu ul li a{
    text-transform: none;
    font-size: 0.83em;
}
.dropdown-menu ul li a:hover{
    color: #C4903D;
}
.dropdown-menu .image-room-menu>a{
    padding: 0px !important;
}
.dropdown-menu .image-room-menu:hover a, .dropdown-menu ul li:hover a{
    background: none;
}

/*---------------------------------------- Slider ------------------------------------*/


        
/*------------------------------------------End Slider----------------------------------------*/
 
.main-product{
    padding: 20px 0px;
    display: inline-block;
    width: 100%; 
}
.main-product .room-title{
    text-align: center;
}
.main-product .room-title h2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: initial;
}
.sperad{
    background: url('../img/moon-divider.png') no-repeat;
    height: 30px;
    width: 70px;
    margin: 30px auto 20px auto;
}
.product{
    padding: 10px;
}
.image-room img{
    border-radius: 10px;
    height: 235px;
    width: 350px;
}
.image-room img:hover{
    transition: opacity 0.2s ease; 
    opacity: 0.8;
}
.room-action{
    text-align: center;
}
.room-action p a{
    text-transform: uppercase;
    color: crimson;
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
}
.main-form{
    text-align: center;
}
.main-product .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    height: 40px;
}
.main-product .form-group label{
    font-weight: normal;
}

.form-control {
    width: 180px;
    border-radius: 3px;
    height: 40px !important;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.button {
    background-color: #202935;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    width: 150px;
    height: 40px;
    padding: 5px 12px;
    border: 2px solid #202935;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    line-height: 0;
}
.button:hover {
    background-color: #C4903D;
    color:#000;
}

.select{
    background-color:lightseagreen;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 35px;
    padding: 5px 12px;
    border: 2px solid #202935;
    border-radius: 2;
}

.col-md-4 .blog-box{
    margin-bottom: 30px;
    cursor: pointer;
}
.col-md-4 .blog-box a:hover img, .col-md-8 .blog-box a:hover img{
    transition: opacity 0.8s ease;
    opacity: 0.8;
}
footer{
    padding-top: 50px;
    background: #202935;
}
footer .col-md-12 {
    padding: 0px 50px 0px 50px;
    background: #202935;
}
footer .col-md-12 .col-md-3{
    padding: 20px;
}
footer .col-md-12 .col-md-3 .footer-content{
    color:#59677a;
}
.productby{
    background: #1c242f !important;
    color:#59677a;
    padding: 15px
}
.productby .copyright{
   height: 50px;
   line-height: 55px;
   padding:0px !important;
   text-align: center;
}
.footer-content li a{
    color:#59677a !important;
}
.footer-content li a:hover{
    transition: color 0.2s ease;
    color:#eee !important;
}
.col-md-3 lable{
    text-transform: uppercase;
    font-size: 20px;
    color:#eee;
}

.form-group-service ul li{
    display: inline-block;
}
.form-group-service label {
    width: 180px;
    text-align: left;
}
.form-group-service .form-control{
    margin: 10px
}
.form-group-service ul.form-control-service{
    width: 200px;
    display: inline-block;
    cursor: pointer;
}
.text-center{
    padding: 35px;
}
.btnSelect{
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
    width: 150px;
    height: 40px;
    padding: 5px 12px;
    border: 2px solid #202935;
    border-radius: 0;
    vertical-align: middle;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.btnSelect:hover {
    background-color: #000;
    color:#fff;
}
.result-title{
    text-align: center;
}
.result-title h1{
    text-transform: uppercase;
    font-family: initial;
}
.result-title div.sperad{
    background: url('../img/moon-divider.png') no-repeat;
    height: 30px;
    width: 70px;
    margin: 30px auto 20px auto;
}
.form-group-service label span.red{
    color:red !important;
}

.buttonSearchRoom {
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 17px;
    border-radius: 3px;
    font-weight: bold;
}
.form-select {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.15);
    border: 1px solid #ccc;
    padding: 0px;
    margin-bottom: 15px;
    background: #fff;
    margin-top: 10px;
}
.titleSelectRoom {
    position: relative;
    text-align: center;
}
.titleSelectRoom img{
    width: 100%
}
.titleSelectRoom > h2{ 
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 1000;
    animation-direction: alternate;
    position: absolute;
    bottom: 25%;
    color: #fff;
    text-transform: uppercase;
    left: 5%;
    font-size: 40px;
}
.titleSelectRoom > i{ 
    -webkit-animation-name: example1;
    -webkit-animation-duration: 5s;
    animation-name: example1;
    animation-duration: 5s;
    animation-iteration-count: 1000;
    animation-direction: alternate;
    position: absolute;
    bottom: 20%;
    color: #fff;
    right: 20%;
    font-size: 18px;
    margin-right:500px
}
@keyframes example {
    0%   {opacity:0}
    50% {margin-left: 15px}
    100%  {margin-left:50px; opacity:1}
    
}
@keyframes example1 {
    0%   {opacity:0}
    50% {margin-right:450px}
    100%  {margin-right:550px; opacity:1}
    
}
.tableSearchRoom div > h2 {
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 5px
}
.checkSelectRoom tr > td label{
    padding-left: 5px;
    font-size: 15px;
    font-weight: normal;
}
.icon-bed {
    background-image: url('../img/icon-bed.jpg');
    height: 30px;
    width: 30px;
    background-position: 40px 40px;
}
input[type=checkbox] {
    display: none;
}
.checkSelectRoom label:before { 
    border-radius: 3px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 7px;
    bottom: 8px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
.checkSelectRoom tr > td{
    width: 130px;
    display: inline-block;
    margin: 0px 5px;
    position: relative;
}
.checkSelectRoom > tr {
    line-height: 2
}
#player {
    display: block
}
.progress_bar {
    width: auto;
    margin-bottom: 2.4em;
    border: solid 1px #779bca;
    background: #e6edf6;
}
.progress_bar_margin {
    margin-bottom: 10px;
}
.progress_bar ul {
    text-align: left;
    height: 2.08em;
    color: #003580;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    display: block;
}
.progress_bar li {
    display: block;
    float: left;
    clear: right;
    padding: 10px;
    margin: 0;
    background: #C4903D;
    width: 33.333333333%;
    line-height: 2.08em;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.progress_bar li:first-child {
    border-left: none;
}
.progress_bar li:last-child {
    border-right: none;
}
.progress_bar li span{
   text-transform: uppercase;
   color: #fff;
   font-weight: bold
}
.progress_bar li.b_selected_progress_bar_state {
    background: #fff;
}
.progress_bar li.b_selected_progress_bar_state span{
    color: #C4903D;
    font-weight: bold;
}
.ui-state-default {
    border: none;
}
.btnSelectService {
    background: #202935;
}
.userInputConfirm {
    line-height: 3;
}
.userInputConfirm label{
    width: 160px;
    text-align: left;
    padding-left: 10px;
}

.userInputConfirm label:after{
   content: '*';
   color: red;
}
.userInputConfirm label.title{
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.userInputConfirm label.title:after{
    content: '';
}
.userInputConfirm input[type=text] {
    border: none;
    border-radius: 3px;
    background: #eee;
    padding: 0px 10px;
    width: 70%;
}

.userInputConfirm input[type=submit] {
    float: right;
    margin-right: 8px;
}
.table-confirmUser {
    width: 100%;
    border: 1px solid #ccc;
    margin: 20px 0px;
    background: #fff;
}
.table-confirmUser  th {
    padding: 5px 10px;
}
.table-confirmUser  tr > td {
    padding: 15px 10px;
}
.confirmUser {
    display: inline-block;
    width: 100%;
    margin: 15px 0px;
}
.confirmUser input[type=submit] {
    float:right;
    margin: 10px 0px;
}
/*------------------------------------ Admin Form -------------------*/
.admin-form{
    text-align: center;
}
.admin-form h1{
    margin: 10px 0px;
}
.admin-form th {
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    font-weight: normal;
    color: #555555;
    padding: 11px 5px 11px 5px;
    vertical-align: middle;
}
.admin-form td {
    border: 1px solid #d4d4d4;
    text-align: center;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}
table.admin-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.ui-widget-content {
    background: none !important;
    border: none;
}
.ui-datepicker table {
    background: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #000;
}
@media screen and (max-width: 1024px) {
    .userInputConfirm label {
        width: 140px;
    }
}

