/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 11:14:50 AM
    Author     : Zito
*/
.col1{
    width:20%;
}
.col2{
    width:30%;
}
.col3
{
    width:50%;
    text-align: right;
    margin-top: 40px;
    float:right;
    padding-right: 10px;
}
.cart
{
    height: 25px;
    width:  25px;
}
.logincontainer{
    margin: 0 auto;
    display: block;
    text-align: center;

}
#loginform{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}
#loginform table{
    width: 100%;
    line-height: 2
}
.d1{
    font-size: xx-large;
    text-align: center;
}
.ppUsername,.ppPassword{
    width: 450px;
}

.submitButton{
    margin-top: 50px;
    padding: 10px;
}
.p1{
    margin-left: 50px;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.p2{
    margin-top: 20px;
    font-size: large;
    margin-left: 50px;
    font-style: italic;
    line-height: 150%;
}
.p3{
    margin-top: 25px;
    font-size: large;
    margin-left: 50px;
    line-height: 150%;
}
.p4{
    font-size: large;
    margin-left: 88px;
}
.centered{
    margin-left: 35%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
}
.c1{
    font-size: large;
    line-height: 150%;
}
.t1{
    margin-top: 100px;
    font-style: italic;
}
 button,  input[type=button],  input[type=reset],  input[type=submit] {
    padding: 5px 70px;
    font-size: 25px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #0070ba;
    font-weight: normal;
}
.logincontainer label {
    font-family: monospace;
    font-size: 17px;
}
.logincontainer input[type=text], .logincontainer input[type=password] {
    margin-left: 12px;
    padding: 0px 10px;
}